<h1>Welcome to the Platform</h1>
<p>Are you a student or an instructor?</p>
<div>
  <%= link_to "I am a Student", student_path, class: "btn btn-primary" %>
  <%= link_to "I am an Instructor", instructor_path, class: "btn btn-secondary" %>
</div>
